# configuration files
config.json
temp.json
temp/*
.vscode/settings.json
.config/user_uploads
.config/themes
.config/plugins

# compiled files
build/
dist/
*.dll
*.exe

# backup files
*copy.*
!copy.png

# misc
.logs/*
target/
.DS_Store
data.json
/frontend/node_modules
/frontend/dist
/frontend/demo/*.mp4
/frontend/demo/*.webm
/frontend/e2e/test-results
/node_modules
