/* Backgrounds picker panel + page background video. */
div.choose-bg-element {
  margin: auto;
  padding: 18px;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.choose-bg-element.dark-theme {
  border: 1px solid #ccc!important;
  box-shadow: 0 0 10px #ccc!important;
}
div.choose-bg-element-image > img,
div.choose-bg-element-image > div.video-container video {
  border-radius: 15px;
  max-width: -webkit-fill-available;
  margin-left: 10px;
  width: 87% !important;
  z-index: 1;
}
.choose-bg-element {
  position: relative;
  overflow: hidden;
}

.choose-bg-pseudo-element {
  content: "";
  position: absolute !important;
  top: -20;
  left: -70;
  width: 115% !important;
  height: 110% !important;
  background-size: cover;
  margin-left: 10px;
  filter: blur(3px);
}


.choose-bg-delete-button, .choose-bg-activate-button, .choose-bg-activate-button-checked {
  margin-left: -6px;
  display: inline-block;
  fill: black;
  background-color: white;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #0000005e;
  margin-right: 5px;
  z-index: 1;
  height: 25;
  width: 25;
}
.choose-bg-activate-button {
  content: url(/static/img//square.svg);
}
.choose-bg-activate-button-checked {
  content: url(/static/img//square-checked.svg)!important;
}
svg.choose-bg-delete-button:hover, .choose-bg-activate-button:hover {
  cursor: pointer;
}
div#choose-bg-all-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div#create-bg-choices {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
}

div.choose-bg-buttons {
  position: absolute;
  right: 10;
  height: 35.7;
  z-index: 1;
}


.video-container {
  position: relative;
  width: auto;
  height: auto;
  overflow: hidden;
}

div.choose-bg-pseudo-element > video {
  transform: translate(60px, 15px) scale(1.2);
}
.video-container video {
  top: 0;
  left: 0;
  width: 100%;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.background-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
