/* Color picker + HEX input pairs. */
div.background-color-input-container,
div.names-color-input-container,
div.buttons-color-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

input.background-color-input,
input.names-color-input,
input.buttons-color-input {
  position: relative;
  margin-right: 5px;
  height: 30;
}

