/* Form controls + settings containers (inputs, password, submit, gridsize). */
.gridsize-container {
  display: flex;
  flex-direction: row;
}
#gridsize-width, #gridsize-height {
  width: 75px;
}

.deg {
  font-size: x-large;
  margin-top: -13px;
  margin-right: 5px;
}

#portrait-rotate-setting-container {
  display: flex;
  align-items: center;
}
#portrait-rotate-setting-container > .button {
  margin-left: 3px;
}

/* style pour le conteneur principal */
.config-container, .addbutton-container {
  width: 80%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  margin-top: 20px;
}
.config-container.dark-theme, .addbutton-container.dark-theme {
  border: 1px solid #232323!important;
  box-shadow: 0 0 10px #000000!important;
}

/* style pour les labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
/* style pour les champs de texte */
input[type="text"],
input[type="url"],
input[type="password"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  /* margin-bottom: 10px; */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical;
  opacity: 1;
}
input[type="text"].dark-theme,
input[type="url"].dark-theme,
input[type="password"].dark-theme,
input[type="number"].dark-theme,
textarea.dark-theme {
  border: 1px solid #494949!important;
  background-color: #333333!important;
  color: white!important;
}

input[type="text"].dark-theme::placeholder,
input[type="url"].dark-theme::placeholder,
input[type="password"].dark-theme::placeholder,
input[type="number"].dark-theme::placeholder,
textarea.dark-theme::placeholder {
  color: rgb(136, 136, 136)!important;
  opacity: 1;
}
input[type="text"].spotify-setting,
input[type="password"].spotify-setting {
  width: 320px;
}

.password-container {
  position: relative;
}

.show-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url(/static/img//eye.svg);
  background-size: cover;
  cursor: pointer;
}

.show-password.active {
  background-image: url(/static/img//eye-slash.svg);
}

/* style pour les checkboxes */
input[type="checkbox"] {
  margin-right: 5px;
  vertical-align: middle;
}

/* style pour le bouton d'envoi */
input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out; /* ajoute une transition pour une animation fluide */
  width: -webkit-fill-available;
}

/* effet hover */
input[type="submit"]:hover {
  background-color: #3e8e41;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* effet de click */
input[type="submit"]:active {
  background-color: #357a38;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.slider-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* cible l'élément input et le placeholder */
input::placeholder {
  color: rgba(0,0,0,0.3); /* couleur du texte */
  opacity: 0.5; /* opacité */
}

